[user]
	name = Kevin Suttle
	email = kevin@kevinsuttle.com
[color]
	status = auto
	branch = auto
	log = auto
	diff = auto
	interactive = auto
	ui = auto
	grep = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[github]
	user = kevinSuttle
[credential]
	helper = osxkeychain
[diff]
	tool = opendiff
[merge]
	tool = opendiff
	keepBackup = false
