[user]
	name = Kevin Suttle
	email = kevin@kevinsuttle.com
[color]
	status = auto
	branch = auto
	log = auto
	diff = auto
	interactive = auto
	ui = auto
	grep = auto
[core]
	editor = vim
	excludesfile = /opt/boxen/config/git/gitignore
[github]
	user = kevinSuttle
[credential]
	helper = /opt/boxen/bin/boxen-git-credential
[diff]
	tool = opendiff
[merge]
	tool = opendiff
	keepBackup = false
[push]
	default = simple

[hub]
protocol = https
