# GRC Colorization
alias colorize="grc -es --colour=auto"
alias configure='colorize ./configure'
alias diff='colorize diff'
alias make='colorize make'
alias gcc='colorize gcc'
alias curl='colorize curl'

# List files, including hidden ones
alias ls='ls -aF'

# List only directories
alias lsd='ls -l | grep "^d"'

# Easier navigation: Thanks @mathiasbynens, @gf3, et al.
alias ..='cd ..'
alias cddf='cd $DOTFILES'
alias cdc='cd ~/Code/'
alias cdd='cd ~/Downloads/'
alias cds='cd ~/Code/kevinsuttle.github.io'
alias mkdir='mkdir -p && cd $_'

# Application Shortcuts
alias v='vim'
alias gvim='/opt/homebrew-cask/Caskroom/macvim/7.4-70/MacVim-snapshot-70/MacVim.app/Contents/MacOS/Vim -g'
alias mvim='/opt/homebrew-cask/Caskroom/macvim/7.4-70/MacVim-snapshot-70/MacVim.app/Contents/MacOS/Vim -vf'

# Commands
alias jsw='jekyll serve --watch'
alias reload='. ~/.zshrc'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
# Thanks once again @MathiasBynens
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; brew prune; npm update npm -g; npm update -g; sudo gem update'

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Recursively delete `.DS_Store` files
alias removeDS="find . -type f -name '*.DS_Store' -ls -delete"

# MASSIVE CLEANUP
alias CLEAN_HOUSE='flush; lscleanup; removeDS; emptytrash'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; cleanup; lscleanup; flush;"

# Show/hide hidden files in Finder
alias shf="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hhf="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Disable Spotlight
alias spotlightoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spotlighton="sudo mdutil -a -i on"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# See all open and running ports
alias runningports="lsof -i -n | egrep 'COMMAND|LISTEN'"

# Wrap git with hub
if [[ -f `command -v hub` ]] ; then alias git=hub ; fi

# Git
alias gcl='git clone --progress'
alias gs='git status --short --branch'
alias gph='git push'
alias pushthis='git push origin HEAD:$(git_current_branch)'
alias undopush='git push -f origin "HEAD^:master"'
alias undocommit='git reset --soft "HEAD^"'
alias drb='git push origin :'
alias gf='git fetch'
alias catchup='gf origin master && grp origin/master'
alias gpr='git pull --rebase'
alias gprom='git pull --rebase origin master'
alias gprum='git pull --rebase upstream master'
alias gpom='git push origin master'
alias grao='git remote add origin'
alias grau='git remote add upstream'
alias grv='git remote -v'
alias glo='git log --decorate --oneline --graph'
alias glg='git log --decorate --graph --abbrev-commit --date=relative'
alias gd='git diff'
alias ga='git add'
alias gA='git add --all'
alias gai='git add -interactive'
alias gct='git commit'
alias gca='git commit --amend'
alias gmg='git merge --no-ff'
alias grb='git rebase'
alias gri='git rebase -interactive'
alias grp='git rebase --preserve-merges'
alias gco='git checkout'
alias gcb='git checkout -B'
alias gcm='git checkout master'
alias gb='git branch --verbose'
alias gbl='git branch --list --verbose'
alias gss='git stash save'
alias gsa='git stash apply'
alias gsl='git stash list'
alias gsp='git stash pop'
alias gsc='git stash clear'
alias gsd='git stash drop'
alias gbss='git bisect start'
alias gbsb='git bisect bad'
alias gbsg='git bisect good'
alias gbsr='git bisect reset'
alias grt='git reset'
alias gsmu='git submodule update --init --recursive'
alias gsmp='git submodule foreach git pull origin master'
alias gphm='git push heroku master'
alias ghw="git help --web"

# Extra
alias ho='heroku open'
alias be='bundle exec'
alias gi='gem install'
