# EditorConfig is awesome: http://EditorConfig.org
# top-most EditorConfig file
root = true

# Unix-style newlines at the bottom of every file
[*]
end_of_line = lf
charset = utf-8

# Tab indentation
indent_style = tabs

# Make sure every file has a blank line at the end
insert_final_newline = true

# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true

# Give operators breathing room, but not brackets
spaces_around_operators = true
spaces_around_brackets = false

# JavaScript-specific settings
[.js]
quote_type = single
curly_bracket_next_line = false

# HTML-specific settings
[.html]
quote_type = double
