[user]
	name = Kevin Suttle
	email = kevin@kevinsuttle.com
[github]
	user = kevinSuttle
[credential]
	helper = osxkeychain
[core]
	editor = vim
	excludesfile = ~/.gitignore
[color]
	status = true
	branch = true
	log = true
	diff = true
	interactive = true
	ui = true
	grep = true
[push]
	default = simple
[diff]
	tool = opendiff
[merge]
	tool = opendiff
	keepBackup = false
[mergetool]
	keepBackup = false
[hub]
	protocol = https