[color]
	status = true
	branch = true
	log = true
	diff = true
	interactive = true
	ui = true
	grep = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[diff]
	tool = opendiff
[github]
	user = kevinSuttle
[help]
	autocorrect = 1
[hub]
	protocol = https
[merge]
	tool = opendiff
	keepBackup = false
[mergetool]
	keepBackup = false
[push]
	default = simple
[user]
	name = Kevin Suttle
	email = kevin@kevinsuttle.com