.svn
*~
*.swp
.subversion

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.Trash

# Npm
*.log
node_modules
bower_components
.nvm
.npm
.pm2
.node-gyp
.babel.json
.yarnrc

# IDEs
.idea
.atom

# Fish
fish/fish_history
fish/fishd.*

# Bash
.bash_history
.bash_sessions

# Misc
.CFUserTextEncoding
.docker
.localized
*.padl
*.ssb

# User directories in MacOS
Applications

Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Sites
SpiderOak Hive
code/
.aws/
.bundle/
.cargo/
.config/
.cargo/
.docker/
.electron/
.gem/
.histfile
.luna/
.multirust/
.node-gyp/
.now/
.npm/
.opam/
.pia_manager/
.pm2/
.rbenv/
.rustup/
.vscode/
.vscode-insiders/

# Sensitive data
.local
.ssh
.gitconfig.local
.*.log
.viminfo
.zcompdump
