.svn
*~
*.swp

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.Trash

# Npm
*.log
node_modules
bower_components
.pm2
.node-gyp
.babel.json
.yarnrc

# IDEs
.idea
.atom

# Fish
fish/fish_history
fish/fishd.*

# Misc
.CFUserTextEncoding
.docker
.localized
*.padl

# User directories in MacOS
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Sites
SpiderOak Hive

code/
.abstract/
.aws/
.bash_sessions/
.blockstack/
.bundle/
.cargo/
.config/
.cargo/
.dat-desktop/
.docker/
.electron/
.gem/
.luna/
.mix/
.multirust/
.node-gyp/
.now/
.npm/
.nvm/
.opam/
.pia_manager/
.pm2/
.rbenv/
.rustup/
.subversion/
.vscode/
.vscode-insiders/

# Sensitive data
.bash_history
.gitconfig.local
.histfile
.*.log
.local
.viminfo
.zcompdump
.ssh/
.ssb/
.Trash/
