[color]
	status = true
	branch = true
	log = true
	diff = true
	interactive = true
	ui = true
	grep = true
[core]
    autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore
    whitespace = space-before-tab,indent-with-non-tab,trailing-space,cr-at-eol
[credential]
	helper = osxkeychain
[diff]
	tool = opendiff
[github]
	user = kevinSuttle
[help]
	autocorrect = 1
[hub]
	protocol = https
[merge]
	tool = opendiff
	keepBackup = false
[mergetool]
	keepBackup = false
[push]
	default = simple
[user]
	name = Kevin Suttle
	email = kevin@kevinsuttle.com
